<a href="https://colab.research.google.com/github/KryssyCo/DS-Unit-1-Sprint-5-Data-Storytelling-Blog-Post/blob/master/Child_Abuse_Data_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Can use the data for National to compare to Children in Foster Care**

In [2]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving Child Fatalities by Submission.csv to Child Fatalities by Submission (3).csv
Saving Child Fatalities.csv to Child Fatalities (3).csv
Saving Child victims 2013_2017csv.csv to Child victims 2013_2017csv (3).csv
Saving Children by Disposition.csv to Children by Disposition (3).csv
Saving Children Who Received and Invest.csv to Children Who Received and Invest (3).csv
Saving Combined CM 2017 data tables (3).xlsx to Combined CM 2017 data tables (3) (3).xlsx
Saving Combined CM 2017 data tables (updated).csv to Combined CM 2017 data tables (updated) (3).csv
Saving MAltreatment Types of Victims 2.csv to MAltreatment Types of Victims 2 (3).csv
Saving Perps 2013_2017.csv to Perps 2013_2017 (3).csv
Saving Perps by Relationship to victim.csv to Perps by Relationship to victim (3).csv
Saving Screened_In and Screened_Out.csv to Screened_In and Screened_Out (3).csv
Saving Victims by Age 2017.csv to Victims by Age 2017 (3).csv

In [5]:
## Put ages in bins
victims_age = pd.read_csv('Combined CM 2017 data tables (1).csv')
print(victims_age.shape)
victims_age.tail()

(53, 39)

            State                   ...                   Victims Age 17\nRate per 1,000 Children
48     Washington                   ...                                                       1.1
49  West Virginia                   ...                                                       5.9
50      Wisconsin                   ...                                                       1.3
51        Wyoming                   ...                                                       2.3
52       National                   ...                                                       3.6

[5 rows x 39 columns]

In [0]:
## Change Colum Names
## Bin Ages

In [0]:
victims_age.isnull().sum()

In [0]:
#Has State in common
screened = pd.read_csv('Screened_In and Screened_Out.csv')
print(screened.shape)
screened.tail()

In [0]:
screened.isnull().sum()

In [0]:
# Has state in common
# Can compare parent perp to parent who lost rights
# Can compare foster parent and group home/residential facility staff.
perp_relation = pd.read_csv('Perps by Relationship to victim (1).csv')
print(perp_relation.shape)
perp_relation.tail()

In [0]:
perp_relation.isnull().sum()

In [0]:
# Can only use State and 2017 perpetrators unless we are comparing to the foster 
# Care data set
num_perps = pd.read_csv('Perps 2013_2017.csv')
print(num_perps.shape)
num_perps.tail()

In [0]:
num_perps.isnull().sum()

In [0]:
# Drop percentages
# Use integers and compare to foster care data set
maltx = pd.read_csv('MAltreatment Types of Victims 2.csv')
print(maltx.shape)
maltx.tail()

In [0]:
maltx.isnull().sum()

In [0]:
# No Useful Data
df2 = pd.read_csv('Children Who Received and Invest.csv')
print(df2.shape)
df2.head()

In [0]:
# Substantiated cases, unsubstantiated cases, intentionally false, closed with no ofinding, no alleged maltreatment, total children
# Compare to kids entering foster care.
dispo = pd.read_csv('Children by Disposition.csv')
print(dispo.shape)
dispo.tail()

In [0]:
dispo.isnull().sum()

In [0]:
# Compare numbers with Foster Care Data Set
# Check for National Data
vic = pd.read_csv('Child victims 2013_2017csv.csv')
print(vic.shape)
vic.tail()

In [0]:
vic.isnull().sum()

In [0]:
# No helpful data
fatality = pd.read_csv('Child Fatalities.csv')
print(fatality.shape)
fatality.tail()

In [0]:
# No helpful data
fatality_by_sub = pd.read_csv('Child Fatalities by Submission.csv')
print(fatality_by_sub.shape)
fatality_by_sub.tail()

## **Merge Tables**
Merge tables to combine data. Use state as matching id.