<a href="https://colab.research.google.com/github/KryssyCo/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/Krista_Shepard_DSPT2_Assignment_4_Make_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ASSIGNMENT

- Replicate the lesson code.

- Convert the `term` column from string to integer.

- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

## Get Lending Club Data

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip

--2019-08-25 19:28:03--  https://resources.lendingclub.com/LoanStats_2019Q1.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2019Q1.csv.zip’

LoanStats_2019Q1.cs     [    <=>             ]  19.37M   853KB/s    in 24s

2019-08-25 19:28:27 (835 KB/s) - ‘LoanStats_2019Q1.csv.zip’ saved [20314386]

In [0]:
!ls

LoanStats_2019Q1.csv.zip  sample_data

In [0]:
!unzip LoanStats_2019Q1.csv.zip

Archive:  LoanStats_2019Q1.csv.zip
  inflating: LoanStats_2019Q1.csv

In [0]:
!head LoanStats_2019Q1.csv

Notes offered by Prospectus (https://www.lendingclub.com/info/prospectus.action)
"id","member_id","loan_amnt","funded_amnt","funded_amnt_inv","term","int_rate","installment","grade","sub_grade","emp_title","emp_length","home_ownership","annual_inc","verification_status","issue_d","loan_status","pymnt_plan","url","desc","purpose","title","zip_code","addr_state","dti","delinq_2yrs","earliest_cr_line","inq_last_6mths","mths_since_last_delinq","mths_since_last_record","open_acc","pub_rec","revol_bal","revol_util","total_acc","initial_list_status","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","next_pymnt_d","last_credit_pull_d","collections_12_mths_ex_med","mths_since_last_major_derog","policy_code","application_type","annual_inc_joint","dti_joint","verification_status_joint","acc_now_delinq","tot_coll_amt","tot_cur_bal","open_acc_6m","open_act_il","open_il_12m","open_il_24m","mths_since_rcnt_il","total_bal_il","il_util","open_rv_12m","open_rv_24m","max_bal_bc","all_util","total_rev_hi_lim","inq_fi","total_cu_tl","inq_last_12m","acc_open_past_24mths","avg_cur_bal","bc_open_to_buy","bc_util","chargeoff_within_12_mths","delinq_amnt","mo_sin_old_il_acct","mo_sin_old_rev_tl_op","mo_sin_rcnt_rev_tl_op","mo_sin_rcnt_tl","mort_acc","mths_since_recent_bc","mths_since_recent_bc_dlq","mths_since_recent_inq","mths_since_recent_revol_delinq","num_accts_ever_120_pd","num_actv_bc_tl","num_actv_rev_tl","num_bc_sats","num_bc_tl","num_il_tl","num_op_rev_tl","num_rev_accts","num_rev_tl_bal_gt_0","num_sats","num_tl_120dpd_2m","num_tl_30dpd","num_tl_90g_dpd_24m","num_tl_op_past_12m","pct_tl_nvr_dlq","percent_bc_gt_75","pub_rec_bankruptcies","tax_liens","tot_hi_cred_lim","total_bal_ex_mort","total_bc_limit","total_il_high_credit_limit","revol_bal_joint","sec_app_earliest_cr_line","sec_app_inq_last_6mths","sec_app_mort_acc","sec_app_open_acc","sec_app_revol_util","sec_app_open_act_il","sec_app_num_rev_accts","sec_app_chargeoff_within_12_mths","sec_app_collections_12_mths_ex_med","sec_app_mths_since_last_major_derog","hardship_flag","hardship_type","hardship_reason","hardship_status","deferral_term","hardship_amount","hardship_start_date","hardship_end_date","payment_plan_start_date","hardship_length","hardship_dpd","hardship_loan_status","orig_projected_additional_accrued_interest","hardship_payoff_balance_amount","hardship_last_payment_amount","debt_settlement_flag","debt_settlement_flag_date","settlement_status","settlement_date","settlement_amount","settlement_percentage","settlement_term"
"","","20000","20000","20000"," 60 months"," 17.19%","499.1","C","C5","Front desk supervisor","6 years","RENT","47000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","958xx","CA","14.02","0","Sep-2006","1","50","","15","0","10687","19.7%","53","w","19031.49","19031.49","1958.2","1958.20","968.51","989.69","0.0","0.0","0.0","Jul-2019","499.1","Aug-2019","Jul-2019","0","50","1","Individual","","","","0","0","31546","3","2","1","2","10","20859","97","4","9","5909","42","54300","6","1","3","11","2103","23647","30","0","0","150","100","1","1","0","5","","3","50","3","3","4","8","19","19","13","33","4","15","0","0","0","5","98","12.5","0","0","75824","31546","33800","21524","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","21225","21225","21225"," 60 months"," 14.74%","502.05","C","C2","ceo","10+ years","MORTGAGE","225000","Not Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","956xx","CA","16.8","0","Sep-1994","2","","110","14","1","95868","87.7%","22","w","20492.06","20492.06","1471.39","1471.39","732.94","738.45","0.0","0.0","0.0","Jul-2019","502.05","Jul-2019","Jul-2019","0","","1","Individual","","","","0","0","694793","1","5","2","4","3","113558","76","0","1","17353","84","109300","1","0","4","5","49628","12635","76.4","0","0","126","294","24","3","4","30","","1","","0","4","6","4","4","11","7","7","6","14","0","0","0","2","100","50","1","0","747075","209426","53500","128175","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 17.97%","180.69","D","D1","","n/a","MORTGAGE","62000","Not Verified","Mar-2019","Current","n","","","home_improvement","Home improvement","320xx","FL","19.82","1","Nov-1987","0","4","","8","0","7285","77.5%","18","w","4677.78","4677.78","532.09","532.09","322.22","209.87","0.0","0.0","0.0","Jul-2019","180.69","Jul-2019","Jul-2019","0","4","1","Individual","","","","0","0","206639","0","1","0","0","33","24330","","1","3","2318","78","9400","0","0","0","3","25830","2115","77.5","0","0","187","376","9","9","2","9","","","4","3","6","6","6","6","7","6","9","6","8","0","0","1","1","66.7","50","0","0","255738","31615","9400","39938","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","20000","20000","20000"," 36 months","  8.19%","628.49","A","A4","Executive Director of Guardian Advantage","1 year","MORTGAGE","200000","Not Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","190xx","PA","22.66","1","Oct-2001","0","18","","20","0","20984","32.1%","49","w","18513.93","18513.93","1867.27","1867.27","1486.07","381.20","0.0","0.0","0.0","Jul-2019","628.49","Jul-2019","Jul-2019","0","48","1","Individual","","","","0","0","326678","2","5","1","3","4","63760","61","2","3","5097","50","64400","1","5","0","6","17194","30437","38.4","0","0","162","209","2","2","1","2","18","21","18","1","7","9","9","15","20","14","27","9","20","0","0","0","3","95.7","22.2","0","0","448069","84744","49400","105180","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","12000","12000","12000"," 60 months"," 15.57%","289.09","C","C3","Computer Operator","5 years","MORTGAGE","49000","Source Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","152xx","PA","13.47","0","Apr-1993","0","38","","18","0","17672","48.2%","36","w","11594.62","11594.62","846.51","846.51","405.38","441.13","0.0","0.0","0.0","Jul-2019","289.09","Jul-2019","Jul-2019","0","38","1","Individual","","","","0","0","143079","2","4","0","0","51","88353","128","4","6","3587","100","36700","0","8","1","6","7949","14848","39.1","1","0","144","311","3","3","5","3","38","11","38","4","5","10","7","11","12","12","19","10","18","0","0","0","4","86.1","14.3","0","0","189260","106025","24400","68860","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","13500","13500","13500"," 36 months","  7.56%","420.31","A","A3","Security officer","8 years","RENT","34860","Not Verified","Mar-2019","Current","n","","","credit_card","Credit card refinancing","857xx","AZ","10.91","0","Oct-2003","1","","","9","0","9932","24.7%","11","w","12326.49","12326.49","1409.59","1409.59","1173.51","236.08","0.0","0.0","0.0","Jul-2019","420.31","Jul-2019","Jul-2019","0","","1","Individual","","","","0","0","9932","1","0","0","0","","0","","1","3","3777","25","40200","0","0","1","3","1104","16629","33.7","0","0","","185","1","1","0","22","","1","","0","5","6","5","7","0","9","11","6","9","0","0","0","1","100","0","0","0","40200","9932","25100","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","25000","25000","25000"," 36 months","  7.02%","772.16","A","A2","Vice President, Trade Show","5 years","MORTGAGE","305000","Not Verified","Mar-2019","Current","n","","","debt_consolidation","Debt consolidation","600xx","IL","8.16","0","Oct-1995","0","","","12","0","31360","36.9%","26","w","23111.26","23111.26","2296.98","2296.98","1888.74","408.24","0.0","0.0","0.0","Jul-2019","772.16","Jul-2019","Jul-2019","0","","1","Individual","","","","0","0","726960","1","2","1","1","3","18796","48","1","1","11255","41","85000","1","0","3","3","60580","49640","38.7","0","0","106","232","12","3","4","28","","3","","0","4","4","5","9","5","8","16","4","12","0","0","0","2","100","0","0","0","840287","65339","81000","38858","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","10000","10000","10000"," 60 months"," 12.40%","224.48","B","B4","","n/a","MORTGAGE","38000","Not Verified","Mar-2019","Fully Paid","n","","","credit_card","Credit card refinancing","306xx","GA","38.66","0","Feb-1997","0","","","7","0","8334","49%","18","w","0.00","0.00","10149.9647448397","10149.96","10000.00","149.96","0.0","0.0","0.0","Apr-2019","10163.74","","Mar-2019","0","","1","Individual","","","","0","0","134860","0","2","0","0","36","29189","37","0","0","6574","44","17000","0","0","0","0","19266","8666","49","0","0","170","265","37","33","4","112","","","","0","2","2","4","6","7","4","7","2","7","0","0","0","0","100","50","0","0","176439","37523","17000","57439","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""

In [0]:
!tail LoanStats_2019Q1.csv

"","","40000","40000","40000"," 36 months","  6.46%","1225.24","A","A1","President - North America","4 years","MORTGAGE","520000","Verified","Jan-2019","Current","n","","","credit_card","Credit card refinancing","752xx","TX","9.96","0","Sep-2006","1","43","","21","0","59529","29.6%","57","f","33858.42","33858.42","7337.08","7337.08","6141.58","1195.50","0.0","0.0","0.0","Jul-2019","1225.24","Aug-2019","Jul-2019","0","43","1","Individual","","","","0","0","864480","2","3","0","0","28","27151","35","3","5","38479","34","111100","1","0","3","7","41166","41467","34.3","0","0","147","146","2","2","9","3","43","3","43","0","4","5","8","16","10","14","36","5","21","0","0","0","3","98.2","12.5","0","0","1033574","95958","100800","78634","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","5000","5000","5000"," 36 months"," 13.56%","169.83","C","C1","","n/a","MORTGAGE","48000","Not Verified","Jan-2019","Current","n","","","home_improvement","Home improvement","338xx","FL","8.28","2","May-2006","0","11","","8","0","3846","13.6%","21","w","4300.52","4300.52","1011.45","1011.45","699.48","311.97","0.0","0.0","0.0","Jul-2019","169.83","Aug-2019","Jul-2019","0","","1","Individual","","","","0","0","35666","0","1","0","0","49","5336","47","0","2","0","23","28200","0","3","0","2","4458","","","0","0","99","151","13","13","1","","","","11","0","0","3","0","1","4","6","16","3","8","0","0","0","0","90.5","","0","0","88613","9182","0","11413","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","6000","6000","6000"," 36 months","  6.46%","183.79","A","A1","","< 1 year","MORTGAGE","96000","Not Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","060xx","CT","0.31","0","May-1993","0","","91","16","1","50","0.1%","36","w","5078.74","5078.74","1100.59","1100.59","921.26","179.33","0.0","0.0","0.0","Jul-2019","183.79","Aug-2019","Jul-2019","0","","1","Individual","","","","0","0","50","0","0","0","1","15","0","","1","4","50","0","33500","1","1","1","5","3","14850","0.3","0","0","15","306","7","7","0","45","","7","","0","1","1","3","12","1","16","35","1","16","0","0","0","1","100","0","1","0","33500","50","14900","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 36 months"," 16.14%","563.62","C","C4","Estimator/Supervisor","10+ years","MORTGAGE","32000","Source Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","925xx","CA","20.89","0","Dec-2010","0","35","117","13","1","17066","49.9%","15","f","13837.91","13837.91","3367.37","3367.37","2162.09","1205.28","0.0","0.0","0.0","Jul-2019","563.62","Aug-2019","Jul-2019","0","","1","Individual","","","","0","0","17066","1","0","0","0","55","0","","3","3","2353","50","34200","0","0","1","3","1313","6446","60.7","0","0","55","96","1","1","0","1","35","12","35","0","7","8","8","8","1","13","14","8","13","0","0","0","3","93.3","37.5","1","0","34200","17066","16400","0","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","16000","16000","16000"," 60 months"," 11.31%","350.36","B","B3","MATERIAL HANDLER","5 years","MORTGAGE","72000","Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","850xx","AZ","7.02","2","Sep-2005","0","8","64","12","1","11882","37.1%","39","w","2907.09","2907.09","13792.11","13792.11","13092.91","699.20","0.0","0.0","0.0","Jul-2019","350.36","Aug-2019","Jul-2019","0","8","1","Individual","","","","0","0","225413","0","2","0","0","28","62953","79","0","0","5568","45","32000","2","2","4","1","18784","11705","49.1","2","0","159","129","25","24","3","25","","1","9","2","4","5","5","9","20","9","16","5","12","0","0","2","0","94.3","0","1","0","251486","74835","23000","63090","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""
"","","29250","29250","29250"," 60 months"," 18.94%","757.8","D","D2","sr register csa","7 years","MORTGAGE","65000","Verified","Jan-2019","Current","n","","","debt_consolidation","Debt consolidation","774xx","TX","29.52","0","Jan-2011","0","","","20","0","38465","69%","22","w","27401.57","27401.57","4485.24","4485.24","1848.43","2636.81","0.0","0.0","0.0","Jul-2019","757.8","Aug-2019","Jul-2019","0","","1","Individual","","","","0","0","204764","0","1","0","1","17","20323","79","1","3","13874","69","55505","0","0","0","4","10238","2985","87","0","0","78","95","7","7","1","19","","13","","0","13","18","13","13","3","18","18","18","20","","0","0","1","100","76.9","0","0","237833","58788","38800","25728","","","","","","","","","","","","N","","","","","","","","","","","","","","","N","","","","","",""


Total amount funded in policy code 1: 1928448350
Total amount funded in policy code 2: 799382985

## Load Lending Club Data

In [0]:
import pandas as pd

df = pd.read_csv('LoanStats_2019Q1.csv', skiprows=1, skipfooter=2, engine='python')
print(df.shape)
df.head()

(115675, 144)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                    NaN              NaN
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
df.isna().sum()

id                                            115675
member_id                                     115675
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      19518
emp_length                                     11101
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           115675
desc                                          115675
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              257
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         65799
mths_since_last_record                        102252
                                               ...
sec_app_mort_acc                               98994
sec_app_open_acc                               98994
sec_app_revol_util                             99224
sec_app_open_act_il                            98994
sec_app_num_rev_accts                          98994
sec_app_chargeoff_within_12_mths               98994
sec_app_collections_12_mths_ex_med             98994
sec_app_mths_since_last_major_derog           110774
hardship_flag                                      0
hardship_type                                 115674
hardship_reason                               115674
hardship_status                               115674
deferral_term                                 115674
hardship_amount                               115674
hardship_start_date                           115674
hardship_end_date                             115674
payment_plan_start_date                       115674
hardship_length                               115674
hardship_dpd                                  115674
hardship_loan_status                          115674
orig_projected_additional_accrued_interest    115674
hardship_payoff_balance_amount                115674
hardship_last_payment_amount                  115674
debt_settlement_flag                               0
debt_settlement_flag_date                     115669
settlement_status                             115669
settlement_date                               115669
settlement_amount                             115669
settlement_percentage                         115669
settlement_term                               115669
Length: 144, dtype: int64

In [0]:
df[df.loan_amnt.isna()]

Empty DataFrame
Columns: [id, member_id, loan_amnt, funded_amnt, funded_amnt_inv, term, int_rate, installment, grade, sub_grade, emp_title, emp_length, home_ownership, annual_inc, verification_status, issue_d, loan_status, pymnt_plan, url, desc, purpose, title, zip_code, addr_state, dti, delinq_2yrs, earliest_cr_line, inq_last_6mths, mths_since_last_delinq, mths_since_last_record, open_acc, pub_rec, revol_bal, revol_util, total_acc, initial_list_status, out_prncp, out_prncp_inv, total_pymnt, total_pymnt_inv, total_rec_prncp, total_rec_int, total_rec_late_fee, recoveries, collection_recovery_fee, last_pymnt_d, last_pymnt_amnt, next_pymnt_d, last_credit_pull_d, collections_12_mths_ex_med, mths_since_last_major_derog, policy_code, application_type, annual_inc_joint, dti_joint, verification_status_joint, acc_now_delinq, tot_coll_amt, tot_cur_bal, open_acc_6m, open_act_il, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, inq_last_12m, acc_open_past_24mths, avg_cur_bal, bc_open_to_buy, bc_util, chargeoff_within_12_mths, delinq_amnt, mo_sin_old_il_acct, mo_sin_old_rev_tl_op, mo_sin_rcnt_rev_tl_op, mo_sin_rcnt_tl, mort_acc, mths_since_recent_bc, mths_since_recent_bc_dlq, mths_since_recent_inq, mths_since_recent_revol_delinq, num_accts_ever_120_pd, num_actv_bc_tl, num_actv_rev_tl, num_bc_sats, num_bc_tl, num_il_tl, num_op_rev_tl, num_rev_accts, num_rev_tl_bal_gt_0, num_sats, num_tl_120dpd_2m, ...]
Index: []

[0 rows x 144 columns]

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115675 entries, 0 to 115674
Columns: 144 entries, id to settlement_term
dtypes: float64(56), int64(52), object(36)
memory usage: 127.1+ MB

In [0]:
pd.options.display.max_columns = 150
pd.options.display.max_columns = 150

In [0]:
df.head().T

,0,1,2,3,4
id,NaN,NaN,NaN,NaN,NaN
member_id,NaN,NaN,NaN,NaN,NaN
loan_amnt,20000,21225,5000,20000,12000
funded_amnt,20000,21225,5000,20000,12000
funded_amnt_inv,20000,21225,5000,20000,12000
term,60 months,60 months,36 months,36 months,60 months
int_rate,17.19%,14.74%,17.97%,8.19%,15.57%
installment,499.1,502.05,180.69,628.49,289.09
grade,C,C,D,A,C
sub_grade,C5,C2,D1,A4,C3
emp_title,Front desk supervisor,ceo,NaN,Executive Director of Guardian Advantage,Computer Operator
emp_length,6 years,10+ years,NaN,1 year,5 years
home_ownership,RENT,MORTGAGE,MORTGAGE,MORTGAGE,MORTGAGE
annual_inc,47000,225000,62000,200000,49000
verification_status,Source Verified,Not Verified,Not Verified,Not Verified,Source Verified
issue_d,Mar-2019,Mar-2019,Mar-2019,Mar-2019,Mar-2019
loan_status,Current,Current,Current,Current,Current
pymnt_plan,n,n,n,n,n
url,NaN,NaN,NaN,NaN,NaN
desc,NaN,NaN,NaN,NaN,NaN
purpose,debt_consolidation,credit_card,home_improvement,credit_card,debt_consolidation
title,Debt consolidation,Credit card refinancing,Home improvement,Credit card refinancing,Debt consolidation
zip_code,958xx,956xx,320xx,190xx,152xx
addr_state,CA,CA,FL,PA,PA
dti,14.02,16.8,19.82,22.66,13.47
delinq_2yrs,0,0,1,1,0
earliest_cr_line,Sep-2006,Sep-1994,Nov-1987,Oct-2001,Apr-1993
inq_last_6mths,1,2,0,0,0
mths_since_last_delinq,50,NaN,4,18,38
mths_since_last_record,NaN,110,NaN,NaN,NaN
...,...,...,...,...,...
sec_app_mort_acc,NaN,NaN,NaN,NaN,NaN
sec_app_open_acc,NaN,NaN,NaN,NaN,NaN
sec_app_revol_util,NaN,NaN,NaN,NaN,NaN
sec_app_open_act_il,NaN,NaN,NaN,NaN,NaN
sec_app_num_rev_accts,NaN,NaN,NaN,NaN,NaN
sec_app_chargeoff_within_12_mths,NaN,NaN,NaN,NaN,NaN
sec_app_collections_12_mths_ex_med,NaN,NaN,NaN,NaN,NaN
sec_app_mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
hardship_flag,N,N,N,N,N
hardship_type,NaN,NaN,NaN,NaN,NaN
hardship_reason,NaN,NaN,NaN,NaN,NaN
hardship_status,NaN,NaN,NaN,NaN,NaN
deferral_term,NaN,NaN,NaN,NaN,NaN
hardship_amount,NaN,NaN,NaN,NaN,NaN
hardship_start_date,NaN,NaN,NaN,NaN,NaN
hardship_end_date,NaN,NaN,NaN,NaN,NaN
payment_plan_start_date,NaN,NaN,NaN,NaN,NaN
hardship_length,NaN,NaN,NaN,NaN,NaN
hardship_dpd,NaN,NaN,NaN,NaN,NaN
hardship_loan_status,NaN,NaN,NaN,NaN,NaN
orig_projected_additional_accrued_interest,NaN,NaN,NaN,NaN,NaN
hardship_payoff_balance_amount,NaN,NaN,NaN,NaN,NaN
hardship_last_payment_amount,NaN,NaN,NaN,NaN,NaN
debt_settlement_flag,N,N,N,N,N
debt_settlement_flag_date,NaN,NaN,NaN,NaN,NaN
settlement_status,NaN,NaN,NaN,NaN,NaN
settlement_date,NaN,NaN,NaN,NaN,NaN
settlement_amount,NaN,NaN,NaN,NaN,NaN
settlement_percentage,NaN,NaN,NaN,NaN,NaN
settlement_term,NaN,NaN,NaN,NaN,NaN

## Work with strings

In [0]:
# Which columns have a data type of "object" (strings)
df.describe(include='object')

,term,int_rate,grade,sub_grade,emp_title,emp_length,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,earliest_cr_line,revol_util,initial_list_status,last_pymnt_d,next_pymnt_d,last_credit_pull_d,application_type,verification_status_joint,sec_app_earliest_cr_line,hardship_flag,hardship_type,hardship_reason,hardship_status,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_loan_status,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date
count,115675,115675,115675,115675,96157,104574,115675,115675,115675,115675,115675,115675,115675,115675,115675,115675,115546,115675,115447,109598,115673,115675,14624,16681,115675,1,1,1,1,1,1,1,115675,6,6,6
unique,2,53,7,33,39387,11,5,3,3,7,2,12,12,877,50,652,1055,2,7,3,8,2,3,577,2,1,1,1,1,1,1,1,2,2,1,2
top,36 months,8.19%,A,A4,Teacher,10+ years,MORTGAGE,Not Verified,Jan-2019,Current,n,debt_consolidation,Debt consolidation,750xx,CA,Aug-2006,0%,w,Jul-2019,Aug-2019,Jul-2019,Individual,Not Verified,Aug-2006,N,INTEREST ONLY-3 MONTHS DEFERRAL,INCOME_CURTAILMENT,ACTIVE,Jun-2019,Sep-2019,Jul-2019,In Grace Period,N,Jul-2019,ACTIVE,Jul-2019
freq,78429,11314,37060,11314,2037,34490,58578,54608,43584,107668,115674,63747,63747,1162,15902,1033,1054,101423,90255,84158,110426,98994,6395,150,115674,1,1,1,1,1,1,1,115669,5,6,5

In [0]:
# Lecture replication - length of employment
df.emp_length.value_counts()

10+ years    34490
< 1 year     15044
2 years       9695
3 years       8719
1 year        7919
5 years       7189
4 years       6777
6 years       4636
7 years       3913
8 years       3625
9 years       2567
Name: emp_length, dtype: int64

In [0]:
# 'Term' column 
df.term.value_counts()

 36 months    78429
 60 months    37246
Name: term, dtype: int64

## Convert int_rate

In [0]:
# Test to make sure code works

x = '12.5%'
float(x.strip('%'))

12.5

In [0]:
# This is a common mistake and will always throw an error
float(x)

ValueError: ignored

In [0]:
# This code will allow you to change a string to a float by removing
# the percentage sign and then changing the number to in the column
# to a float
df['int_rate'] = df['int_rate'].str.strip('%').astype(float)

In [0]:
# Check to make sure the code worked in the 'int rate' column
 
df['int_rate'].head()

0    17.19
1    14.74
2    17.97
3     8.19
4    15.57
Name: int_rate, dtype: float64

In [0]:
# Convert the term column from string to integer

In [0]:
df['term'] = df['term'].str.strip('months').astype(float)

In [0]:
df['term'].head()

0    60.0
1    60.0
2    36.0
3    36.0
4    60.0
Name: term, dtype: float64

In [0]:
# (Stretch Goal) There's one other column in the dataframe with percent signs. 
# Remove them and convert to floats.
df['revol_util'] = df['revol_util'].str.strip('%').astype(float)

In [0]:
df['revol_util'].head()

0    19.7
1    87.7
2    77.5
3    32.1
4    48.2
Name: revol_util, dtype: float64

## Clean emp_title

In [0]:
# Look at the top 20 titles.
df.emp_title.head(20)

0                        Front desk supervisor
1                                          ceo
2                                          NaN
3     Executive Director of Guardian Advantage
4                            Computer Operator
5                             Security officer
6                   Vice President, Trade Show
7                                          NaN
8     Administrative Assistant/Legal Secretary
9                                     Engineer
10                               Social Worker
11                                  QC Manager
12                              Office Manager
13                          Executive Director
14                         Executive Assistant
15                                 Case Packer
16                     Chief Executive Officer
17                              Station Agent
18                         Electrical Engineer
19                                       Fresh
Name: emp_title, dtype: object

In [0]:
# Look at number of unique employmee titles
df.emp_title.nunique()

39387

In [0]:
# How often is emp_title null
df.emp_title.isna().sum()

19518

In [0]:
# Explore the percentage of unique emp titles
# and the percentage of nulls
df.shape

(115675, 144)

In [0]:
# 34% of the employee titles are unique
39387/115675

0.3404970823427707

In [0]:
# 16% of emp_title values are null
19518/115675

0.1687313594121461

Clean the title and handle missing values
- Capitalize
- Strip spaces
- Replace 'NaN' with missing

In [0]:
import numpy as np

isinstance(np.nan, str)

False

In [0]:
# Test to make sure function will do as expected and clear the NaN's and 
# replace NaN with missing.

example = ['owner', 'Supervisor ', ' Project manager', np.nan ]

def clean_emp_title(x):
  if isinstance(x, str):
    return x.strip().title()
  else:
    return 'Missing'
  
# for ex in example:
# print(clean_emp_title(ex))

[clean_emp_title(x) for x in example]

['Owner', 'Supervisor', 'Project Manager', 'Missing']

In [0]:
# Using .apply command on the function to apply the function to the entire col.

df['emp_title'] = df['emp_title'].apply(clean_emp_title)
df['emp_title'].head(20)

0                        Front Desk Supervisor
1                                          Ceo
2                                      Missing
3     Executive Director Of Guardian Advantage
4                            Computer Operator
5                             Security Officer
6                   Vice President, Trade Show
7                                      Missing
8     Administrative Assistant/Legal Secretary
9                                     Engineer
10                               Social Worker
11                                  Qc Manager
12                              Office Manager
13                          Executive Director
14                         Executive Assistant
15                                 Case Packer
16                     Chief Executive Officer
17                               Station Agent
18                         Electrical Engineer
19                                       Fresh
Name: emp_title, dtype: object

In [0]:
# Now how many unique titles do we have?
df.emp_title.nunique()

31429

In [0]:
# We reduced the amount of unique titles by:
39387 - 31429

7958

In [0]:
# The 19518 NaN's are now missing
df.emp_title.value_counts().head(10)

Missing             19518
Teacher              2465
Manager              2172
Registered Nurse     1306
Driver               1194
Supervisor           1109
Office Manager        834
Sales                 806
Truck Driver          767
General Manager       737
Name: emp_title, dtype: int64

## Create emp_title_manager column

In [0]:
# Check to see if a string contains the word manager in the column
df['emp_title'].str.contains('manager', case =False).head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: emp_title, dtype: bool

In [0]:
# ^^ is not really helful.
# Check to see if a string contains the word manager in the column using this code.
df['emp_title'].iloc[0:10]

0                       Front Desk Supervisor
1                                         Ceo
2                                     Missing
3    Executive Director Of Guardian Advantage
4                           Computer Operator
5                            Security Officer
6                  Vice President, Trade Show
7                                     Missing
8    Administrative Assistant/Legal Secretary
9                                    Engineer
Name: emp_title, dtype: object

In [0]:
# ^^ is a little more helpful but let's reign it in a bit more.
# Make a new column for values with the word Manager in them
# 15962 do,99713 do not

df['emp_title_manager'] = df.emp_title.str.contains('Manager')
df['emp_title_manager'].value_counts()

False    99713
True     15962
Name: emp_title_manager, dtype: int64

In [0]:
# Use groupby to check the mean int_rate of people with the emp_title manager
df.groupby('emp_title_manager').int_rate.mean()

emp_title_manager
False    12.744044
True     12.570085
Name: int_rate, dtype: float64

In [0]:
# Make a column named loan_status_is_great. It should contain the integer 1 if 
# loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

In [0]:
[col for col in df if col.endswith('_d')]

['issue_d', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d']

In [0]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'])

In [0]:
# Make last_pymnt_d_month and last_pymnt_d_year columns
df['last_pymnt_d_month'] = df['last_pymnt_d'].dt.month
df['last_pymnt_d_year'] = df['last_pymnt_d'].dt.year

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01